.progress-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #67899c;
}

.progress-circle-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.progress-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #67899c;
  padding: 2.5rem;
  margin-bottom: 0.5rem;
}

.main-progress-status {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.date-angle-arrow {
  cursor: pointer;
}