#trackit-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100vw;
  height: 100%;
}

.trackit-day {
  display: flex;
  align-items: center;
  background-color: #e5eaee;
  color: #67899c;
  height: 1.8rem;
  text-align: start;
  padding-left: .4rem;
  font-weight: 600;
  font-size: 0.9em;
}

.trackit-card {
  padding: .5rem;
}
