.vitals-frame {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 90%;
}

.vital-card-wrap {
  flex: 1;
  margin: 1em;
  align-self: center;
  min-width: 35%;
}

.vital-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #62b5e5;
  border: 2px solid #b6c6cf;
  padding: 1rem;
}

.vital-card-title {
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  color: inherit;
  margin-top: 1em;
}
